/* GERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    overflow-x: hidden;
}

@font-face {
    font-family: "Colonna MT";
    src: url("//db.onlinewebfonts.com/t/91dd06fc110a0b45117e9338dcb9dcf9.eot");
    src: url("//db.onlinewebfonts.com/t/91dd06fc110a0b45117e9338dcb9dcf9.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/91dd06fc110a0b45117e9338dcb9dcf9.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/91dd06fc110a0b45117e9338dcb9dcf9.woff") format("woff"), url("//db.onlinewebfonts.com/t/91dd06fc110a0b45117e9338dcb9dcf9.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/91dd06fc110a0b45117e9338dcb9dcf9.svg#Colonna MT") format("svg");
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Roboto:wght@300;400;700&display=swap');

/* NAVBAR */
a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    color: white;
}

.nav-list a:hover {
    color: rgb(129, 68, 14);
    border-bottom: 3px solid rgb(129, 68, 14);
    opacity: 0.7;
}

.logo {
    border-radius: 50%;
    margin-right: 20px;
}

@media (max-width: 1107px) {
    .logo {
        display: none;
    }
}

.titleNav {
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: "Colonna MT", sans-serif;
    background: #0000008a;
    height: 9vh;
}

.nav-list {
    font-size: 20px;
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
}

.mobile-menu {
    display: none;
    cursor: pointer;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
}

@media (max-width: 999px) {
    body {
        overflow-x: hidden;
    }

    .nav-list {
        position: absolute;
        top: 9vh;
        right: 0;
        width: 50vw;
        height: 550px;
        background: #0000008a;
        flex-direction: column;
        align-items: center;
        padding-right: 5%;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
        z-index: 2;
    }

    .nav-list li {
        margin-left: 0;
        opacity: 0;
    }

    .mobile-menu {
        display: block;
    }
}

.nav-list a.active {
    color: rgb(129, 68, 14);
    border-bottom: 3px solid rgb(129, 68, 14);

}

.nav-list.active {
    transform: translateX(0);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
    opacity: 0;
}

.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}

/*Cup Of Coffee*/

.cupOfCoffee {
    width: auto;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000000;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #1f1f1f, #000000);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #1f1f1f, #000000);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 50px;
}

.cup {
    position: relative;
    width: 280px;
    height: 300px;
    background: linear-gradient(to right, #f9f9f9, #d9d9d9);
    border-bottom-left-radius: 45%;
    border-bottom-right-radius: 45%;
}

.top {
    position: absolute;
    top: -30px;
    left: 0;
    width: 100%;
    height: 60px;
    background: linear-gradient(to right, #f9f9f9, #d9d9d9);
    border-radius: 50%;
}


.circle {
    position: absolute;
    top: 5px;
    left: 10px;
    width: calc(100% - 20px);
    height: 50px;
    background: linear-gradient(to right, #f9f9f9, #d9d9d9);
    border-radius: 50%;
    box-sizing: border-box;
    overflow: hidden;
}

.coffee {
    position: absolute;
    top: 20px;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#382219, #1d120e);
    border-radius: 50%;
}

.handle {
    position: absolute;
    right: -70px;
    top: 40px;
    width: 160px;
    height: 180px;
    border: 25px solid #dcdcdc;
    border-left: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-radius: 50%;
    transform: rotate(42deg);
}

.plate {
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
    width: 500px;
    height: 200px;
    background: linear-gradient(to right, #f9f9f9, #e7e7e7);
    border-radius: 50%;
    box-shadow: 0 35px 35px rgba(0, 0, 0, 0.2);
}

.plate::before {
    content: '';
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    border-radius: 50%;
    background: linear-gradient(to left, #f9f9f9, #e7e7e7);
}

.plate::after {
    content: '';
    position: absolute;
    top: 30px;
    left: 30px;
    right: 30px;
    bottom: 30px;
    background: radial-gradient(rgba(0, 0, 0, 0.2) 25%, transparent, transparent);
    border-radius: 50%;
}

.vapour {
    position: relative;
    display: flex;
    z-index: 1;
    padding: 0 20px;
}

.vapour span {
    position: relative;
    bottom: 50px;
    display: block;
    margin: 0 2px 50px;
    min-width: 8px;
    height: 120px;
    background: rgba(255, 255, 255, 0.76);
    border-radius: 50%;
    animation: animate 5s linear infinite;
    opacity: 0;
    filter: blur(8px);
    animation-delay: calc(var(--i) * -0.5s);
}

@keyframes animate {
    0% {
        transform: translateY(0) scaleX(1);
        opacity: 0;
    }

    15% {
        opacity: 1;
    }

    50% {
        transform: translateY(-150px) scaleX(5);
    }

    95% {
        opacity: 0;
    }

    100% {
        transform: translateY(-300px) scaleX(10);
    }
}


@media screen and (max-width: 553px) {
    body {
        position: absolute;
    }

    .cupOfCoffee {
        padding: 0 300px;
    }
}

@media screen and (max-width: 226px) {
    .cupOfCoffee {
        padding: 0 200px;
    }
}

@media screen and (max-width: 177px) {
    .cupOfCoffee {
        padding: 0 150px;
    }
}